@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.marker {
  width: 15px;
  height: 15px;
  background-color: #db1c1c;
  border-radius: 999px;
  border: 3px solid #fff;
}

#status {
  text-decoration: none;
  color: white;
  font-size: 14pt;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.marker::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background: rgba(241, 39, 39, 0.2);
  opacity: 0;
  border-radius: 999px;
  -webkit-animation: animation-marker 900ms linear infinite;
  -moz-animation: animation-marker 900ms linear infinite;
  -o-animation: animation-marker 900ms linear infinite;
  animation: animation-marker 900ms linear infinite;
}

@-webkit-keyframes animation-marker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(10, 10);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(20, 20);
  }
}

@-moz-keyframes animation-marker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -moz-transform: scale(10, 10);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(20, 20);
  }
}

@keyframes animation-marker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(10, 10);
  }
  100% {
    opacity: 0;
    transform: scale(20, 20);
  }
}
#info {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.random-marker {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}

.random-marker .popup {
  position: absolute;
  top: -30px;
  left: -20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.random-marker .popup-content {
  font-size: 12px;
  font-weight: bold;
  color: black;
}
